@import url(https://fonts.googleapis.com/css?family=Roboto:300, 400, 700);

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Roboto, sans-serif;
    background: #f2f2f2;
}

/* General Animations */
.fadein-slow {
    animation: fadein 4s;
}

.fadein-fast {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* wrappers & containers */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: 87vh;
    width: 90vw;
}

@media screen and (max-width: 900px) {
    .container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 200vh;
    }
}

/* Button reset */
button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-bottom: 20px;
}
